page-login {
    .image{
        background-image: url('../assets/imgs/image1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .item{
        background-color: rgba(255, 255,255,0.0);
    }
    .list{
        width: 50%;
        position: absolute;
        right: 100px;
        margin:auto;   
    }
    .btn{
        margin-top: 35vh;
        width: 50%;
    }
}
